 /*  Estilo definido por imaguila para juegos  */ 
p {
  color: black;
  text-align: justify;
   background-color: rgba(252, 236, 211);
}
h1 { font-size: 3em;
     font-weight: bold;
     color: teal;
   background-color: rgba(252, 236, 211);
 }
 h2 { border-bottom: 1px solid teal;
    background-color: rgba(252, 236, 211);
      color: teal;}

 h3 { color: teal;
      font-style: italic; }

blockquote { border-left-width: 0;
            background-color: rgba(0, 184, 212, 0.1)
    }

