 /*  Estilo definido por imaguila para juegos  */ 
p {
  color: black;
  text-align: justify;
}
h1 { font-size: 3em;
     font-weight: bold;
     color: teal;
 letter-spacing:5px;
 }
 h2 { border-bottom: 1px solid teal;
      color: teal;

}

 h3 { color: teal;
      font-style: italic; }

blockquote { border-left-width: 0;
            background-color: rgba(0, 184, 212, 0.1)
    }

body  {
            background-color: #f4E3ff;
}
